.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 3rem auto;
    width: 95%;
}

.App > div {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 10px;
}

div.selected {
    background-color: red;
    color: white;
}